@import url("../../public/assets/libs/swiper/swiper-bundle.min.css");
@import url("../../public/assets/css/style.min.css");
@import url("../../public/assets/libs/aos/aos.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

.new_loader {
  z-index: 50;
  width: 100%;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-error {
  color: red;
}
.text-success {
  color: green;
}

.text-info {
  color: #7d3fde;
}

/* ??SWITCH */
#checkbox {
  display: none;
}

/* rounded-md bg-gradient-to-tr from-[#9945FF] to-[#14F195] hover:from-[#9945ffb7]  hover:to-[#14f195b2] */

.switch {
  position: relative;
  width: fit-content;
  background: linear-gradient(to top right, #9945FF, #14F195);
  border-radius: 50px;
  z-index: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: white;
  font-size: 0.9em;
  font-weight: 600;
  transition: all 0.3s;
}
.switch svg path {
  fill: white;
}
#checkbox:checked + .switch {
  background-color: rgb(220, 207, 226);
  box-shadow: 0px 0px 40px rgba(238, 235, 240, 0.438);
}

.icon {
  font-size: 32px; /* Adjust the size as needed */
}

.toolicon{
  font-size: 20px;
}


.new_add_css {
  display: flex;
  gap: 2rem;
  align-items: center;
}

@media (max-width: 400px) {
  .new_add_css {
    display: grid;
    gap: 0.5rem;
    align-items: center;
  }
}
